.item {
  width: 500px;
  color: #353935;
  font-size: 20px;
  margin: 0 auto;
}

.itemName {
  font-weight: bold;
  padding: 20px;
}

.line {
  border: 1px solid rgba(215, 215, 245, 0.897);
}

.deleteButton {
  float: right;
  padding: 12px 20px;
  border: none;
  background-color: rgb(208, 208, 24);
  color: white;
  margin-top: -5px;
  border-radius: 4px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}
